@{
    ViewData["Title"] = "O firmie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="projects-container">
    <h1 class="new-project">O firmie GraphicsForYou</h1>
    <p class="order-process">GraphicsForYou to firma z 5-letnim doświadczeniem. Tworzymy projekty graficzne na zamówienie.</p>
</div>