@{
    ViewData["Title"] = "Kontakt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="projects-container">
    <h1 class="new-project">Kontakt</h1>
    <p class="order-process">GraphicsForYou</p>
    <p class="order-process">ul. Graficzna 5</p>
    <p class="order-process">45-042 Opole</p>
    <p class="order-process">tel. +48 537 372 323</p>
</div>