@{
    ViewData["Title"] = "Proces realizacji zamówień";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="projects-container">
    <h1 class="new-project">Proces realizacji zamówień</h1>
    <p class="order-process">Krok 1. Skorzystaj z wyszukiwarki, aby znaleźć interesujące cię projekty i dodaj je do koszyka.</p>
    <p class="order-process">Krok 2. Przeprowadź rozmowę z grafikiem przez komunikator, aby dostosować projekty pod siebie.</p>
    <p class="order-process">Krok 3. Poczekaj, aż twoje zamówienie będzie zrealizowane i prześlij do druku otrzymane projekty.</p>
</div>